@import '../../styles/constants.scss';
@import '../../styles/constants.scss';

.results {
    max-width: 700px;
    margin: 0 auto;
    min-width: 300px;
    padding: 1rem 3rem;

    #quiz-btn {
        @media (min-width: $breakpoint-desktop) {
            padding: 0.8rem 1.95rem;
        }
    }
}

.results__title {
    margin-bottom: 1.5rem;
}

.results__questions {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    #quiz-btn {
        align-self: center;
    }
}

.results__question__item {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid $light-grey;
    padding: 0.7rem 0;


    @media (min-width: $breakpoint-tablet) {
        padding: 1rem 0;
    }

    @media (min-width: $breakpoint-desktop) {
        padding: 1.2rem 0;
    }

    &:last-of-type {
        margin-bottom: 1rem;
    }

    .svg {
        padding: 0.4rem;
    }

    svg {
        width: 0.8rem;
        height: auto;

        @media (min-width: $breakpoint-tablet) {
            width: 1rem;
        }

        @media (min-width: $breakpoint-desktop) {
            min-height: 1.2rem;
        }
    }

}